td {
  background: #ECF0F1;
  width: 20px;
  height: 20px;
  border: solid 2px white ;

}

#playfield{
  width: auto;
  height: auto;
  margin: 150px 0px auto;

}

#nextfield{
 width: auto;
  height: auto;
  border: 5px solid #ECF0F1;
}



.format{
  height:150px;
}

.font{
  font-family: 'Arya', sans-serif;
  color: 'black';

}

body{
   background-image: url('./background.svg');
   background-size: cover;
   background-position: fixed;
   position: relative;


}

.info{
   background: #ECF0F1;
   margin:5px;
   font: white;

}

.tree{

  position: absolute;
  top: 500px;
  left:30px;

}

.button{
  margin:50px;
  font: 36px;

}


button{
width: 300px;
height:50px;

}

.btn{
    font-size:24px;
    text-transform: uppercase;
}
