td {
  background: #ECF0F1;
  width: 25px;
  height: 25px;
  border: solid 2px white ;

}

#playfield{
  width: auto;
  height: auto;
  margin: 20px auto;

}

#nextfield{
 width: auto;
  height: auto;
  border: 5px solid #ECF0F1;
}



.format{
  height:50px;
}

.font{
  font-family: 'Arya', sans-serif;
  color: 'black';

}

