td {
  background: #ECF0F1;
  width: 30px;
  height: 30px;
  border: solid 2px white ;

}

#playfield{
  width: auto;
  height: auto;
  margin: 10px auto;

}

#nextfield{
 width: auto;
  height: auto;

}

.row{
  height: auto;
  background: white;
}

.format{
  height:200px;
}

.font{
  font-family: 'Montserrat', sans-serif;
}